<%= form_for([@photo, @comment]) do |f| %>

          <h2>Edit your comment: </h2>

            <%= f.text_field :content,:size=>"60", class: "form-control", placeholder: "Add Your comment...", autofocus: true %>
            <%= f.submit class: "btn btn-primary btn-lg round btn-sm" %>

<% end %>
